/* general */
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    line-height: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D4D4D4;
}
.wrapper{

    width: 75%;
    /* width: 75%; */

    margin: 0 12.5%;
}
.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    margin: -1px;
}
/*end general*/


.site-header{
    background-color: #222222;
}
.site-header .wrapper {
    background-image: url("../img/moon-rocket_1.png");
    background-repeat: no-repeat;
    background-position: right 140px;

    padding-top: 54px;
    padding-bottom: 180px;
}
.main-nav {
    display: flex;
    margin-bottom: 115px;
}
.logo {
    width: 62px;
    height: 62px;
    margin-right: 62px;
}
ul {
    list-style: none;
}
.site-menu {
    display: flex;
    align-items: center;
}
.site-menu a{
text-decoration: none;
display: block;
color: #D4D4D4;
margin-right: 30px;
}
/* .site-menu li:last-child>a {
    margin-right: 0;
} */
/*contact-menu*/
.contact-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 24px;
}
.contact-menu .icon {
    width: 17px;
    height: 17px;
    display: block;
}
.contact-menu .mail-icon {
    background: url(../img/mail-icon.png) no-repeat;
}
.contact-menu .phone-icon {
    background: url(../img/phone-icon.png) no-repeat;
}
/*end contact-menu*/
.about-us {
    width: 244px;
    padding-left: 124px;
}
.about-us h1{
    font-family: 'Courier New', Courier, monospace;
    line-height: 50px;
    font-size: 45px;
    margin-bottom: 30px;
    color: #FFF
}
.about-us p {
    margin-bottom: 50px;
}
.btn {
    display: inline-block; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 17px 38px;
    padding-right: 94px;


}
.btn::after {
    content: "";

    position: absolute;
    width: 19px;
    height: 16px;
    right: 17px;
    background: url("../img/right-arrow-dark.png") no-repeat;
}
.btn-yellow {
    background-color: #FFCB06;
}
.advantage {
    background: #131313;
    padding: 85px 0;
}
.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 80px;
}
.advantage-list li{
    padding-top: 100px;
    width: 180px;
    position: relative;
}
.advantage-list li::after {
    content: "";
    width: 60px;
    height: 68px;
    position: absolute;
    top: 0;
    left: 0;
}

.advantage-made::after {
    background: url(../img/advantage-icon-1.png) no-repeat;
}
.advantage-food::after {
    background: url(../img/advantage-icon-2.png) no-repeat;
}
.advantage-pilot::after {
    background: url(../img/advantage-icon-3.png) no-repeat;
}
.advantage-rover::after {
    background: url(../img/advantage-icon-4.png) no-repeat;
}

.content {
    color: #000;
    padding: 80px 0 100px;
}
.column-container {
    display: flex;
    gap: 10px 80px;
    flex-wrap: wrap;
}
.left-column, .right-column {
    max-width: 445px;
}
.content p {
    margin-top: 25px;
}
.lead {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}
.content .lead {
    margin: 0 0 20px;
}
.recomendation-list {
    padding-left: 14px;
}
.recomendation-list li{
    margin-bottom: 28px;
    position: relative;
}
.recomendation-list li::before {
    content: "";
    background: #FFCB06;
    border-radius: 50%;
    width: 8px;
    height: 8px;

    position: absolute;
    left: -30px;
    top: 7px;
}
.content .wrapper:first-child {
    margin-bottom: 50px;
}
/* start form */
.vacation-request {
    padding: 100px 0 70px;
    color: #000;
    background-color: #F0F0F0; 
}
.vacation-request .lead {
    margin-bottom: 60px;
    padding-right: 160px;
}
.vacation-request p {
    width: 340px;
}
.vacation-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
    /* column-gap: 10px; */
}
.vacation-form input[type ="tel"]:hover {
    border: #FFCB06 solid 2px;
}
.vacation-form div {
width: 100%;
}
.vacation-form input[type ="text"]:hover {
    border: #FFCB06 solid 2px;
}
.vacation-form input[type ="tel"], .vacation-form input[type ="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 17px 20px 17px 23px;
    /* border: 0px; */
}
.vacation-form .half-field {
    width: 49%;
}

.vacation-form input[type ="checkbox"] ~label::before {
    content: "\2713";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 25px;
    height: 25px;

    color: #FFF;
    font-weight: bold;
    background: #FFFFFF;

    margin-right: 1em;
    border: 1px solid #FFFFFF;
}
.vacation-form input[type ="checkbox"]:checked ~ label::before {
    color: #000;
}
/*для чекбокса*/
.vacation-form [type="checkbox"]:not(:disabled):not(:checked) ~ label:hover::before {
    border-color: #ffcb06;
}
.btn-black {
    color: #FFFFFF;
    background: #222222;
    margin-top: 40px;
}
.btn-black::after {
    background: url(../img/right-arrow-white.png) no-repeat;
}
/* end form */
.timetable {
    background-color: #222222;
    padding: 85px 0;
}
.timetable-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 77px;
    gap: 20px 40px;
}
.timetable-info h2 {
    color: #FECA30;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    line-height: 27px;
    width: 160px;
}
.timetable-info p {
    margin-left: auto;
    width: 440px;
}
.timetable-info a {
    color: #FFCA30;
}
.timetable-flights {
    width: 100%;
    border-collapse: collapse;
}
.timetable-flights tr {
    border-bottom: 1px solid #555555;
}
.timetable-flights th {
    background: #111111;
    text-align: left;
    padding: 15px;
}
.timetable-flights td {
    padding: 15px;
}
/* Start site-footer */
.site-footer {
    background: #131313
}
.logo-container {
    /* border: 4px solid rgb(104, 197, 240); */
    color: #D4D4D4;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    margin-bottom: 110px;
}
.logo-container a {
    margin-right: 15px;
}
.footer-columns {
    /* border: 7px solid rgb(245, 72, 72); */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.footer-columns .left-column {
    /* border: 5px solid #FFCB06; */
    width: 420px;
    margin-top: 30px;
    min-width: 150px;
    width: 25%;
    /* background: #131313  */
}
.footer-columns .right-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 5px solid #098b35; */
    max-width: 900px;
    /* width: 860px; */
    flex-wrap: wrap;
    margin-top: 56px;
}
.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px 60px 20px 0px;
}
.footer-submenu li {
    margin-top: 10px;
    padding-right: 70px;
}
.footer-submenu-title {
    margin-bottom: 20px;
    text-decoration: none;
    color: #D4D4D4;
    padding-bottom: 12px;
    border-bottom: solid 1px rgba(85, 85, 85, 1); 
}
.footer-menu a {
    cursor: pointer
     }
     .footer-menu a:hover {
        color: #FFCB06;
     }
.footer-submenu li {
    cursor: pointer
}
.footer-submenu {
    margin-right: 25px;
}
.footer-submenu li:hover, .site-menu a:hover {
        color: #FFCB06;
}
.btn-yellow:active {
    box-shadow: inset 4px 4px 2px black;
}
.btn-black:active {
    box-shadow: inset 4px 4px 4px rgb(189, 173, 173);
}

.icon:hover {
    transform: scale(1.5);
}
.logo:hover {
    transform: rotate(405deg);
    transition: 2s;
}

/* end footer */